.container {
  background-color: #394264;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
