.guess-number p,
.guess-number span {
  background-color: #394264;
}

.guess-number p {
  margin-top: 0;
  color: black;
  font-size: 24px;
  font-weight: lighter;
}

.guess-number span {
  color: orange;
  font-size: 30px;
}
